@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray: #ddd;
    --color-primary: #FFE734;
    --white: #fff;
    --text-gray: #4a4a4a;
    --my-black: #231D19;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--my-black);
    height: 60px;
    display: flex;
    align-items: center;
}

html, body {
    background-color: var(--bg-gray);
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

.dsmovie-contato-container{
    display: flex;
    align-items: center;
}

.dsmovie-contato-container img {
    margin-right: 10px;
    color: var(--my-black);
}

.dsmovie-card {
    width: 360px;
    height: 400px;
    ;
}

.dsmovie-card img {
    width: 100%;
    border-radius: 14px 14px 0 0;
}

#dsmovie-lista-de-cards {
    padding: 40px 0;
}

.dsmovie-descricao-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px 0;
    background-color: var(--white);
    border-radius: 0 0 14px 14px;
    
}

.dsmovie-descricao-card h3 {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
   
}

.dsmovie-botao, .dsmovie-botao:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--my-black);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}